/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Page */
body {
  background: #f4f6f8;
}

/* Main Container */
.container {
  max-width: 800px;
  margin: 40px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Heading */
h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Form */
.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.task-form input,
.task-form textarea,
.task-form select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.task-form button {
  background: #4f46e5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.task-form button:hover {
  background: #4338ca;
}

/* Task List */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Task Card */
.task-card {
  border-left: 5px solid #4f46e5;
  background: #f9fafb;
  padding: 15px;
  border-radius: 6px;
}

.task-card h3 {
  margin-bottom: 5px;
}

.task-card p {
  font-size: 14px;
  color: #555;
}

/* Status badge */
.status {
  display: inline-block;
  margin-top: 5px;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.status.Todo {
  background: #fde68a;
  color: #92400e;
}

.status.In-Progress {
  background: #bfdbfe;
  color: #1e40af;
}



.status.Done {
  background: #bbf7d0;
  color: #166534;
}

/* Buttons */
.actions {
  margin-top: 10px;
}

.actions button {
  margin-right: 10px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.actions .edit {
  background: #22c55e;
  color: white;
}

.actions .delete {
  background: #ef4444;
  color: white;
}
